

/* || Media queries for layout adjustment */




/* || Images */




/* || Color pallate */

:root {
    --gingerskin:    #b85e01;
    --tank-moss:     #405416;
    --mountin-pass:  #344955;
    --pudding:       #f2eeb6;
    --left-panel:    #2729af;
}


/* || Typeography */

h1 {
    font-size: 200%;
}

h2 {
  margin: auto;  
}

.prime-font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 90%;
    font-weight: normal;
    color: var(--mountin-pass);
}


/* || overall layout */







/* || Header formating */




/* || Nav formating */





/* || Nav links */





/* || Bio section layout */






/* || Portfolio layout */






