

/* || Media queries for layout adjustment */




/* || Images */




/* || Color pallate */

:root {
    --gingerskin:    #b85e01;
    --tank-moss:     #405416;
    --mountin-pass:  #344955;
    --pudding:       #f5f3d6;
    --left-panel:    #2729af;
    --darkest-grey:  #36454f;
    --lightest-grey: #b2beb5;
    --true-grey:     #cccccc;
}


/* || Typeography */

h1 {
    font-size: 200%;
}

h2 {
  margin: auto;  
}

.prime-font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, Poppins, sans-serif;
    text-decoration: none;
    font-size: 90%;
    font-weight: normal;
    color: var(--mountin-pass);
}


/* || overall layout */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:var(--pudding);
}






/* || Header formating */




/* || Nav formating */





/* || Nav links */





/* || Bio section layout */






/* || Portfolio layout */






